body{
	margin:0;
	background-color:#05c46b;
	text-align:center;
	font-family: 'PT Sans', sans-serif;
	color: white;
	overflow-y: hidden;
}

@media screen and (max-width: 1000px){

	body{
		overflow-y: auto;
	}

}

#website{
	overflow-x: hidden;
}

header{
	background-color:#018748;
	padding-bottom:30px;
}

h1{
	font-size:60px;
}

h2{
	font-size:20px;
}

h1,h2{
	margin:0;
	
}

section{
  	padding-top: 130px;
}


/* Media query pour le header */
@media screen and (max-width: 900px){ 

	h1{
		font-size:45px;
	}

}

@media screen and (max-width: 430px){

	h1{
		font-size:35px;
	}
}
/* ============================ 
     Caroussel et sous-section
   ============================
*/

.container_section{
	width:100%;
	text-align: center;
}

.sous_section{
	width:50%;
	display: inline-block;
	vertical-align: top;
}

.sous_section p{
	font-size:60px;
}



.container_sous_section{
	width:200%;
	white-space: nowrap;
	position:relative;
	transition-duration:2s;
}

input[type=file]{
	display: none;
}

section input[type=button]{
	font-family: 'PT Sans', sans-serif;
	width:700px;
	height:120px;
	display:block;
	margin:auto;
	background-color:transparent;
	border:3px solid grey;
	font-size:45px;
	letter-spacing:12px;
	border-radius:25px;
	transition-duration:1s;
	outline:0;
	cursor:pointer;
	color:white;
}

section input[type=button]:nth-child(1){
	margin-bottom:80px;
}

section input[type=button]:hover{
	letter-spacing: 0;
	border-color:white;
}

footer{
	font-size:25px;
	margin-top:50px;
}

footer a{
	color:white;
}

@media screen and (max-width: 900px){

	section input[type=button]{
		width:550px;
		height:100px;
		font-size:35px;
	}
}

@media screen and (max-width: 600px){

	section input[type=button]{
		width:400px;
		height:82px;
		font-size:30px;
		letter-spacing:6px;
	}
}

@media screen and (max-width: 430px){

	section input[type=button]{
		width:300px;
		height:72px;
		font-size:25px;
		letter-spacing:6px;
	}
}

/* Deuxième page */

canvas{
	display: none;
}

img{
	width:280px;
	height:280px;
	display: block;
	margin:auto;
	outline:10px solid #1e272e;
}

@media screen and (max-width: 500px){

	img{
		width:150px;
		height:150px;
		outline:5px solid #1e272e;
	}

	.sous_section p{
		font-size:40px;
	}
}


/* Deuxième page */
.division_stats{
	width:50%;
	display: inline-block;
	vertical-align: top;
}

.division_stats:nth-child(1) p{
	transition-delay: 1.5s;
	transition-duration: 1s;
}

.division_stats:nth-child(2){
	width:0;
	visibility: hidden;
	opacity: 0;
	margin-top: -600px;
	transition:width 1s 2s,opacity 1s 2s,visibility 0s 2s,margin-top 0s 2s,box-shadow 0s 2s;
	text-align: left;
}

.division_stats:nth-child(2).appear{
	margin-top:-100px;
	width:50%;
	visibility: visible;
	opacity: 1;
	box-shadow: -5px 0px 0px 0px white;
	transition:width 1s 2s,opacity 1s 2s,visibility 0s 0s,margin-top 0s 0s,box-shadow 0s 0s; /* Les transitions sont répétés mais le temps changer afin que le tout ne remonte pas de facon étrange */
}

.division_stats:nth-child(2) p{
	margin:0;
	text-align: center;
}

.division_stats:nth-child(2) li{
	font-size:30px;
	width:70%;
	margin-top:20px;
}

.division_stats:nth-child(2) li span:nth-child(1){
	display: inline-block;
	width:45%;
	min-width: 300px;
}

button{
	background-color: transparent;
	border:0;
	display: block;
	cursor: pointer;
	margin:auto;
	font-size:30px;
	color:white;
	outline:0;
	visibility: hidden;
	opacity:0;
	transition-duration: 1s;
	transition-delay: 2s;
	padding-bottom: 30px;
}

button.show{
	visibility: visible;
	margin-bottom:0px;
	opacity:1;
}

li span:nth-child(2){
	transition: width 1s ease-out 3s;
	display: inline-block;
	width:0;
}

li:nth-child(1) span:nth-child(2){
	background-color:#f53b57;
}

li:nth-child(2) span:nth-child(2){
	background-color:#3c40c6;
}

li:nth-child(3) span:nth-child(2){
	background-color:#ffc048;
}

li:nth-child(4) span:nth-child(2){
	background-color:#4bcffa;
}

li:nth-child(5) span:nth-child(2){
	background-color:#d2dae2;
}

li:nth-child(6) span:nth-child(2){
	background-color:#0be881;
}


@media screen and (max-width: 1400px){

	.division_stats:nth-child(1).to_left{
		width:35%;
	}
}

@media screen and (max-width: 1100px){

	.division_stats:nth-child(1).to_left{
		transition-delay: 2s;
		transition-duration: 1s;
		width:25%;
		margin-right:70px;
	}

	img{
		width:220px;
		height:220px;
	}

}


@media screen and (max-width: 1000px){

	.division_stats:nth-child(1).to_left{
		transition-delay: 0s;
		transition-duration: 0s;
		width:100%;
		display: block;
		margin-right:0px;
	}

	.division_stats:nth-child(2).appear{
		width:80%;
		box-shadow: 0 0 0 0 white;
	}

	button{
		margin-top:70px;
	}

}

@media screen and (max-width: 720px){

	.division_stats:nth-child(2).appear{
		width:95%;
	}

 	.division_stats:nth-child(2) li{
		font-size:30px;
	}

	.division_stats:nth-child(2) li span:nth-child(1){
		min-width: 240px;
	}

	.sous_section p{
		font-size:40px;
	}
}


@media screen and (max-width: 550px){

	 .division_stats:nth-child(2) li{
		margin:auto;
		font-size: 25px;
		margin-top: 40px;
	}


 	.division_stats:nth-child(2) span{
		display: block;
	}

	button{
		font-size:25px;
	}
}



	

.division_stats:nth-child(1).to_left p{
	opacity:0;
}